@import "styles/null.scss";
@import "styles/tipografy.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

* {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
	color: $textColor;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&.lock {
		overflow: hidden !important;
	}
}

.container {
    max-width: $lg + px;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	z-index: 1;

	@include desktop {
		padding-left: 130px;
		padding-right: 130px;
	}
}

.row {
	display: flex;
}