.btn {
    padding: 0 16px;
    color: $blackDark;
    background-color: $white;
    font-size: 16px;
    line-height: 56px;
    font-weight: 700;
    transition: all .05s ease;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    font-family: $mont;

    &:hover {
        background-color: $black;
        color: white !important;
    }

    &--outlined {
        background-color: transparent;
        border: 1px solid $black;

        &:hover {
            background-color: $accent;
            color: white !important;
        }
    }

    &--medium {
        line-height: 40px;
    }

    &--disabled {
        background-color: $grayMedium;
        border-color: $grayMedium;
        color: white !important;
        pointer-events: none;
    }
}