$lg: 1439.98;
$xl: 1179.98;
$md: 992.98;
$sm: 767.98;
$xs: 479.98;

$widescreen: 'min-width:' + $lg + px;
$fullscreen: 'min-width:' + $xl + px;
$desktop: 'min-width:' + $md + px;
$tablet: 'min-width:' + $sm + px;
$mobile: 'min-width:' + $xs + px;

$white: white;
$blackDark: #101111;
$black: #21262B;
$accent: #DB9B3C;
$textColor: #243138;
$yellow: #FEC71A;
$red: #FF8989;
$background: #040404;
$grayLight: #F1F1F1;
$grayMedium: #C8C9CA;
$grayDark: #F9F9F9;
$grayDark2: #8F9499;
$grayDark3: #3A3A3C;

// fonts
$palladio: P052, serif;
$mont: Mont, sans-serif;